
<h1 class="prod">Nuestros productos</h1>

    <div class="container">

    <div class="card" style="width: 18rem;">
      <img src="https://media.istockphoto.com/photos/map-to-route-destination-network-connection-location-street-map-with-picture-id976370362?b=1&k=20&m=976370362&s=170667a&w=0&h=p6UctLe1IXnZcaDL5CvksrYB1wvfuqbEBMeU-QrrEyI=" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Ubicación georreferenciada </h5>
        <p class="card-text">Con la geolocalización los equipos de trabajo mejoran el rendimiento en los equipos para el respectivo mantenimiento.</p>
        <a href="#" class="btn btn-primary">Ver detalles</a>
      </div>
    </div>
  

    <div class="card" style="width: 18rem;">
      <img src="https://media.istockphoto.com/photos/woman-using-calendar-app-on-computer-in-office-picture-id1301200314?b=1&k=20&m=1301200314&s=170667a&w=0&h=hPWYcFtnvL4pOSUbL9Cq7bpknFwSepL-4mrXckXWNuc=" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Contol de actividades</h5>
        <p class="card-text">Ayuda a asegurar que se cumplen las respuestas a las tareas emanadas de la dirección.</p>
        <a href="#" class="btn btn-primary">Ver detalles</a>
      </div>
    </div>

    <div class="card" style="width: 18rem;">
      <img src="https://media.istockphoto.com/photos/network-of-japan-japanese-communication-network-picture-id952991572?b=1&k=20&m=952991572&s=170667a&w=0&h=aNOsH0PBRa5QzbiCQytiWbN_6CE9IWb94L5Ch7QbiVM=" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Trazabilidad de información</h5>
        <p class="card-text">Lleva una trazabilidad de los datos recogidos en campo para gestión de la información .</p>
        <a href="#" class="btn btn-primary">Ver detalles</a>
      </div>
    </div>
  </div>

